
header{    
    display:flex;
    flex-direction: row;
    background-color:whitesmoke; 
    width:95%;
    align-items: center;
    height: 100px:
    line-height: 75px;
    padding-left: 10px;
    margin: 10px;
}

.logo {
      width: 130px;
      height: 100px;
      display: inline-block;
      margin: 10px 0px;
    }

.menu{
    display: inline-block;
    margin: 10px 0px;
    flex-direction: row;
    margin-left: 40%
    
}

h1{
    display: inline-flex;
    position: relative;
    margin: auto;
    text-transform: uppercase;
    font-size: 25px;
    color: #B0AEAF;
    text-align: center;
    }

h2{
    font: 15px italic;
    font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #4A655E;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.body > div{
  background-color: whitesmoke;
  width: 95%;
  margin: 10px;
  padding-left: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

figure{
    display: flex;
    flex-direction: row;
}
 
.img{
    margin: 10px 10px;
    width: 90% ;
    height: 40% ;
    border-color: black;
    display: inline-block;
}

.img_footer{
    flex-direction: row;
    margin: 10px;
    width: 50%;
    height: 25% ;
    border-style:groove;
}

p{
    margin-top: 1px;
    font-size: 60%;
}

a{
    display: inline-block;
    margin-top: 1px;
    font-size: 40%;
}
/*Responsive Layout*/

@media screen and (max-width: 700px){
    .item {
        display: : grid;
        width: 100%;
        margin: 0 0 10px 0;
    }
}